<!doctype html>
<html>
  <head>
    <title>Page Appointment</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/popup.css">
  </head>
  <body>
    <div id="wrapper">
      <div class="time">
        <label for="time">Time</label>
        <input type="time" id="time"/>
      </div>
      <div class="url">
        <label for="url">
          Url
          <span id="url-error" class="error"></span>
        </label>
        <input type="text" id="url"/>
      </div>
      <div class="buttons">
        <input class="button" type="button" value="Set" id="setButton"/>
        <input class="button" type="button" value="Clear All Alarms" id="clearButton"/>
      </div>
      <div class="alarms">
        <p>Alarms set: <span id="alarmsNo">0</span></p>
        <ul id="alarmsList">
        </ul>
      </div>
    </div>
    <script src="../scripts/pageAppointment.js"></script>
    <script src="../scripts/popup.js"></script>
  </body>
</html>

